

.text-highlight {
    font-size: 18px;
    font-weight: bold;
    text-decoration:none;
    display:inline;
    box-shadow:inset 0 -10px #FFEB3B;
    color: #252525;
  }

.social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social a {
    margin-bottom: 30px;
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    background: #a8a5ae;
    
}

.social a:hover {
    background-color : rgb(72, 99, 222);
}

.social a i{
    color: #fff;
    font-size: 16px;
    margin: 0 2px;
}

.social a+a{
    margin-left: 10px;
}


.close-button {
    position: absolute;
    top: 10px; /* 상단 여백 조절 */
    right: 10px; /* 우측 여백 조절 */
    cursor: pointer;
    font-size: 20px;
    color: #000; /* 아이콘 색상 설정 */
}

.close-button:hover {
    color: #ff0000; /* 마우스 호버 시 아이콘 색상 변경 */
}
